.main{
    display: flex;
    justify-content: space-between;
    background-color: black;

}
.box2{
    display: flex;
    gap: 60px;
    list-style: none;
    font-size: 20px;
    color: white;
    margin-top: 20px;

    
}
.box3{
    text-decoration: none;
    color: rgb(18, 18, 208);
}
.box1{
    font-size: 30px;
    color: white;
    margin-left: 20px;
    margin-top: 20px;
}
.search{
    color: white;
    margin-top: 20px;
    margin-right: 10px;

}
.btn{
background-color: rgb(120, 120, 7);
margin-top: 20px;
margin-right: 65px;
}